<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="DemoMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <DemoMap.Properties.Settings>
            <setting name="CustomMainFormTitle" serializeAs="String">
                <value/>
            </setting>
            <setting name="CustomAppIconPath" serializeAs="String">
                <value/>
            </setting>
        </DemoMap.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Analysis" publicKeyToken="df3f45fb0fe4cb0c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Controls" publicKeyToken="4d9e49339a7d240c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Data" publicKeyToken="c29dbf30e059ca9d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Data.Forms" publicKeyToken="53ab5a198378d4c1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Extensions" publicKeyToken="4d9e49339a7d240c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Modeling.Forms" publicKeyToken="712bef29a31a9354" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Mono" publicKeyToken="425ba4de41127026" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Projections" publicKeyToken="272632bddd08a38b" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Projections.Forms" publicKeyToken="52099474f11b7ff0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Serialization" publicKeyToken="441f200f827611e7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Symbology" publicKeyToken="6178c08da7998387" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Symbology.Forms" publicKeyToken="0544cdeefb662382" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Topology" publicKeyToken="a66b5e9434ca3671" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>