version: 3.0.{build}
image: Visual Studio 2022
configuration: Release

environment:
  packageVersion: 3.0

before_build:
  - nuget restore

cache: 
- source\packages -> **\packages.config

build:
  project: source\DotSpatial.sln  
  verbosity: normal
  
init:
- ps: $env:buildVersion = "$env:packageVersion.$env:appveyor_build_number"
- ps: $env:nugetVersion = "$env:packageVersion.$env:appveyor_build_number"
- ps: Update-AppveyorBuild -Version $env:buildVersion

assembly_info:
  patch: true
  file: '**\AssemblyInfoShared.*'
  assembly_version: '$(buildVersion)'
  assembly_file_version: '$(buildVersion)'
  assembly_informational_version: '$(nugetVersion)'
  
nuget:
  account_feed: false
  project_feed: false
  
after_build:
 - ps: '[System.IO.File]::WriteAllText("$env:APPVEYOR_BUILD_FOLDER\source\bin\$env:CONFIGURATION\version.txt", $env:APPVEYOR_REPO_COMMIT)' 
 - ps: nuget pack Source\DotSpatial.Analysis\DotSpatial.Analysis.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Controls\DotSpatial.Controls.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Data\DotSpatial.Data.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Data.Forms\DotSpatial.Data.Forms.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Extensions\DotSpatial.Extensions.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Modeling.Forms\DotSpatial.Modeling.Forms.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.NTSExtension\DotSpatial.NTSExtension.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Positioning\DotSpatial.Positioning.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Positioning.Design\DotSpatial.Positioning.Design.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Positioning.Forms\DotSpatial.Positioning.Forms.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Projections\DotSpatial.Projections.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Projections.Forms\DotSpatial.Projections.Forms.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Serialization\DotSpatial.Serialization.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Symbology\DotSpatial.Symbology.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 - ps: nuget pack Source\DotSpatial.Symbology.Forms\DotSpatial.Symbology.Forms.csproj -version "$env:nugetVersion" -Properties "PackageVersion=$env:nugetVersion"
 
 - ps: Push-AppveyorArtifact DotSpatial.Analysis.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Controls.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Data.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Data.Forms.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Extensions.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Modeling.Forms.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.NTSExtension.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Positioning.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Positioning.Design.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Positioning.Forms.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Projections.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Projections.Forms.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Serialization.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Symbology.$env:nugetVersion.nupkg
 - ps: Push-AppveyorArtifact DotSpatial.Symbology.Forms.$env:nugetVersion.nupkg
 
artifacts:
- path: source\bin\Release
  name: Release
