version: 2.0.{build}
configuration: Release
cache: source\packages -> **\packages.config
build:
  project: source\DotSpatial.sln
  verbosity: minimal
after_build:
 - ps: '[System.IO.File]::WriteAllText("source\bin\$env:CONFIGURATION\version.txt", $env:APPVEYOR_REPO_COMMIT)'
artifacts:
- path: source\bin\Release
  name: Release
