body
{
    margin: 0px;
    padding: 0px;
}
div#wrapper
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    max-width: 1024px;
}
tt
{
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
}
li
{
    padding-bottom: 1em;
}
.rightimage
{
    float: right;
    padding-left: 1em;
}
.leftimage
{
    float: left;
    padding-right: 1em;
}
p.disclaimer
{
    font-size: x-small;
    padding-bottom: 2em;
}