<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Positioning" version="2.0.0-rc1" targetFramework="net40-client" />
  <package id="DotSpatial.Positioning.Design" version="2.0.0-rc1" targetFramework="net40-client" />
  <package id="DotSpatial.Positioning.Forms" version="2.0.0-rc1" targetFramework="net40-client" />
</packages>