<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.NetTopologySuite" version="2.0.1-pre.184130514" targetFramework="net472" />
  <package id="NuGet.Build.Tasks.Pack" version="5.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net472" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
</packages>