<?xml version="1.0" encoding="utf-8"?>

<!-- Per ulteriori informazioni sull'utilizzo della trasformazione web.config, visitare il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Nell'esempio seguente, la trasformazione "SetAttributes" modifica il valore di 
    "connectionString" in modo da utilizzare "ReleaseSQLServer" solo quando il localizzatore "Match" 
    individua un attributo "name" con valore "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Nell'esempio seguente, la trasformazione "Replace" sostituisce l'intera 
      sezione <customErrors> del file web.config.
      Poiché è presente un'unica sezione customErrors nel 
      nodo <system.web>, non è necessario utilizzare l'attributo "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>