<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <trace autoflush="true" useGlobalLock="false">
            <listeners>
                <add name="LogFile" type="System.Diagnostics.TextWriterTraceListener"
                     initializeData="TraceLog.txt" traceOutputOptions="DateTime, Timestamp, ThreadId">
                    <!-- This filter can be set to Off, Critical, Error, Warning, Information, Verbose, or All -->
                    <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>