<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cUrl_Native_MSVC1910" version="7.58.0.4" targetFramework="net461" />
  <package id="DotSpatial.GeoAPI" version="1.7.4.3" targetFramework="net461" developmentDependency="true" />
  <package id="DotSpatial.NetTopologySuite" version="1.14.4" targetFramework="net461" developmentDependency="true" />
  <package id="expat_Native_MSVC1910" version="2.2.5.4" targetFramework="net461" />
  <package id="freexl_Native_MSVC1910" version="1.0.4.5" targetFramework="net461" />
  <package id="gdal_MSVC1910" version="2.2.4.12" targetFramework="net461" />
  <package id="gdal_MSVC1910_wrap" version="2.2.4.12" targetFramework="net461" />
  <package id="gdal_Native_MSVC1910" version="2.2.4.12" targetFramework="net461" />
  <package id="geos_c_Native_MSVC1910" version="3.6.2.4" targetFramework="net461" />
  <package id="iconv_Native_MSVC1910" version="1.15.0.4" targetFramework="net461" />
  <package id="libpq_Native_MSVC1910" version="9.5.11.3" targetFramework="net461" />
  <package id="libxml2_Native_MSVC1910" version="2.9.7.8" targetFramework="net461" />
  <package id="proj4_Native_MSVC1910" version="4.9.3.3" targetFramework="net461" />
  <package id="spatialite_Native_MSVC1910" version="4.3.0.8" targetFramework="net461" />
  <package id="sqlite_Native_MSVC1910" version="3.22.0.3" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta001" targetFramework="net40-client" developmentDependency="true" />
  <package id="ZLib_Native_MSVC1910" version="1.2.11.5" targetFramework="net461" />
</packages>