<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="webMapConfigurationSection" type="DotSpatial.Plugins.WebMap.Configuration.WebMapConfigurationSection, DotSpatial.Plugins.WebMap"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <webMapConfigurationSection>
    <Services>
      <add Key="EsriHydroBaseMap"/>
      <add Key="EsriWorldStreetMap"/>
      <add Key="EsriWorldImagery"/>
      <add Key="EsriWorldTopo"/>
      <add Key="BingRoads"/>
      <add Key="BingAerial"/>
      <add Key="BingHybrid"/>
      <add Key="GoogleMap"/>
      <add Key="GoogleLabels"/>
      <add Key="GoogleTerrain"/>
      <add Key="OpenStreetMap"/>
      <add Key="WMSMap"/>
    </Services>
  </webMapConfigurationSection>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="DotSpatial.Extensions" publicKeyToken="4d9e49339a7d240c" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="DotSpatial.Projections.Forms" publicKeyToken="52099474f11b7ff0" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
